@import "foundation_and_overrides";
@import "movies";

//$blue: #30DBBD;





#logo {
	font-weight: 700;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
























// @import "home";
// @import "movies";

// body{
// 
// }

// nav{
// height: 40px;
//  width: 100%;
//  font-size: 11pt;
//  font-family: 'PT Sans', Arial, sans-serif;
//  font-weight: bold;
//  position: relative;
// 	 ul {
// 		    padding: 0;
// 		    margin: 0 auto;
// 		    width: 600px;
// 		    height: 40px;
// 		    list-style: none;
		      
// 	}
// 			li {
// 			    display: inline;
// 			    float: left;
//           position: relative;
//           line-height: 21px;
//           text-align: left;
// 			}
// 		a{
// 			    color: #4f4c4c;
// 			    display: inline-block;
// 			    width: 100px;
// 			    text-align: center;
// 			    text-decoration: none;
// 			    line-height: 40px;
// 		}
// }

// ul li a:hover{
//        color: #fff;
//    }

//    header{
//    	background: -webkit-linear-gradient(#3b3838, #000);
//    	width: 100%;
//    	height: 171px;
//    }

//    nav li a {
//        box-sizing:border-box;
//        -moz-box-sizing:border-box;
//        -webkit-box-sizing:border-box;
//    }
//    nav li:last-child a {
//        border-right: 0;
//    }


//    nav a#pull {
//        display: none;
//    }   
// h1{
// 	color: #fff;
// }


// .border{
// 	border: 1px solid #fff;

// }

// ul li{
// 	list-style: none;
// }

// li{
// 	color: #fff;
// }




/*


#log-in{
	color: #fff;
	text-align: center;
}

.form{
	border: 2px solid #000;
	background-color: #262222;
	width: 398px;
	height: 374px;
	margin-top: 15px; 
}

ul{
	list-style-type: none;
		li{
			display: inline;
			padding: 12px;
		}
}


#user_email{
	width: 272px;
}

#user_password{
	width: 272px;
}

.input{
	background-color: #1c1c1c;
}
*/

