@import "foundation_and_overrides";
@import "movies";

//$blue: #30DBBD;


#logo {
	font-weight: 700;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.search-bar{
	 width: 296px;
}

.right-show{
	float: right;
	width: 77%;
}

#notice{
	margin-bottom: 2.25em;
}

.rw-ui-container{
	float: right;
}

.top{
	border-bottom: 1px solid #fff;
}

.main-image{
	border-radius: 50%;
	-webkit-box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
	margin-top: 43px;
}

.center{
	margin: 0 auto;
}
