// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	overflow: hidden;
	padding: 20px 20px 0 20px;

	ul.user-login {
		background: #FFE100;

		.user {
			float: right;
			line-height: 83px;
			padding: 0 10px 0 0;

			a {
				color: black;
			}

			img {
				display: inline-block;
				width: 65px;
				border-radius: 100%;
				border: 4px solid #FFF;
			}
		}
	}

	li {
		display: inline-block;
	}

 	h1 {
 		line-height: 72px;
		color: #000;
		padding: 0 10px;
		display: inline-block;
	}

	nav {
		height: 40px;
		line-height: 40px;
		background: #F1F1F1;
	}

	nav li {
		display: inline-block;
		line-height: 40px;
	}

	nav li a {
		line-height: 40px;
		padding: 10px;
		color: #000;
	}

	nav li a:hover {
		line-height: 37px;
		background: #000;
		color: #fff;
	}

	nav li:last-child {
		float: right;
	}
}

/***************************************************/


.search-button {
	padding: 5px 10px;
	display: inline-block;
}

input[name=search] {
	margin: 0;
	width: 300px;
}

.movie {
	ul {
		margin: 0;
	}
	img {
		border: 4px solid #F1F1F1;
		&:hover {
			border: 4px solid #000;
		}
	}
	
	.title{
		background: #FFE100;
		color: #000;
		padding: 0 10px;
		a {
			color: black;
		}
	}
}

#search-form {
	line-height: 40px;
	width: 100%;
	input[type="text"] {
		padding: 10px 0;
		background: #FFF;
		color: black;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
		outline: none;
		border-left: none;
		border-right: none;
	}
	::-webkit-input-placeholder {
	   color: black;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: black;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: black;  
	}

	:-ms-input-placeholder {  
	   color: black;  
	}
}