// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	background: -webkit-linear-gradient(#3b3838, #000);
	overflow: hidden;
	padding: 20px 20px 0 20px;
}

header h1 {
	color: white;
}

nav {
	height: 37px;
}

nav li {
	display: inline-block;
	padding: 0 10px;
	line-height: 37px;
}

nav li:nth-child(6), nav li:nth-child(7) {
	float: right;
}

.search-button {
	padding: 5px 10px;
	display: inline-block;
}

input[name=search] {
	margin: 0;
	width: 300px;
}

.movie-tile {
	padding: 20px;
	width: 460px;
	margin: 10px;
	float: left;
	overflow: hidden;
	border: 1px solid #fff;
	-webkit-box-shadow: -1px -2px 12px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -2px 12px -1px rgba(0,0,0,0.75);
	box-shadow: -1px -2px 12px -1px rgba(0,0,0,0.75);
	border-radius: 15px;
}

.movie-tile-image {
	width: 185px;
	height: 278px;
	float: left;
	margin-right: 20px;
}

.item{
	color: #4f4c4c;
}

a.item:hover {
	color: #757373;
}

a.item:active {
	color: #757373;
}

#title{
	font-size: 1.5em;
	border-bottom: 1px dotted #000;
}